@keyframes jump {
    0%, 100% {
      transform: translateY(0); /* Empieza en la posición original */
    }
    50% {
      transform: translateY(-20px); /* Sube 20px */
    }
  }

body {
    margin: 0;
    height: 100vh;
    background-color: #FEC9E5; /* Color de fondo rosado */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s;
}

body:hover {
    background-color: #FADADD; /* Cambio de color al hacer hover */
}

h1 {
    font-family: 'Times New Roman', sans-serif;
    font-size: 2em;
    font-style: italic;
    color: #FF6363;
    margin-bottom: 40px;
    align-content: center;
}

.kirby {
    width: 200px;
    height: 200px;
    background-color: #FC92AD;
    border-radius: 50%;
    border: black 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: transform 0.3s;
    flex-direction: column;
    animation: jump 3s ease-in-out infinite;
}

.kirby:hover {
    transform: scale(1.1) translateY(-10px);
}

.face {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eyes {
    display: flex;
    transform: translateY(50px);
}

.eye {
    width: 30px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    border: 2px solid black;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eye ~ .eye {
    background-color: rgb(46, 46, 46); 
}

.eyes .eye:nth-child(1):hover {
    background-color: gray; 
}
.eyes .eye:nth-child(2):hover {
    background-color: gray; 
}

.pupil {
    width: 15px;
    height: 25px;
    background-color: white;
    border: 2px solid black;
    border-radius: 100%;
    transition: transform 0.5s;
}

.pupil:nth-child(1):hover {
    background-color: rgb(101, 156, 250); 
}

.cheeks {
    display: flex;
    margin-top: 10px;
    transform: translateY(50px);
}

.cheek {
    width: 25px;
    height: 15px;
    background-color: #FC4E8E;
    border-radius: 50%;
    margin: 0px 35px;
    transition: opacity 0.5s;
}

.cheek + .cheek {
    margin-right: 40px;
    margin-left: 40px; 
}

.mouth {
    width: 50px;
    height: 20px;
    background-color: red;
    border: 2px solid black; 
    border-radius: 0 0 100px 100px; 
    overflow: hidden; 
    margin-top: 10px;
    position: relative;
    transition: width 0.5s, height 0.5s;
    transform: translateY(50px);
}

.mouth::after {
    content: '';
    width: 20px;
    height: 10px;
    background-color: #FF6363; 
    border-radius: 50%;
    position: absolute;
    bottom: 2px; 
    left: 50%;
    transform: translateX(-50%);
}

.arms {
    display: flex;
    justify-content: space-between;
    margin: 0;
    transform: translateY(-10px);
}

.arm {
    width: 50px;
    height: 70px;
    background-color: #FC92AD;
    border: 2px solid black;
    border-radius: 50%;
    transition: transform 0.5s;
}

.arms > .arm:first-child:hover {
    transform: scale(1.1); 
}

.arms > .arm:last-child:hover {
    transform: scale(1.1); 
}

.arms > .arm:first-child {
    transform: translateX(-80px);
}

.arms > .arm:last-child {
    transform: translateX(80px);
}

.feets {
    display: flex;
    justify-content: center;
    margin: 0;
    transform: translateY(-30px);
}

.feets > .foot {
    width: 75px;
    height: 45px;
    background-color: #EF3E42;
    border: 2px solid black;
    border-radius: 60%;
    transition: transform 0.5s;
}

.feets > .foot:first-child {
    transform: translateX(-40px);
    rotate: -45deg;
}

.feets > .foot:last-child {
    transform: translateX(40px);
    rotate: 45deg;
}

/* Estilos para el hover */
.kirby:hover .mouth {
    width: 60px; 
    height: 25px;
}

.kirby:hover .cheek {
    opacity: 0.5; 
}

.kirby:hover .pupil {
    transform: scale(1.2); 
}
